.admin{
    display: flex;
    height: 100vh;
}

.admin-feed{
    width: calc(100vw - 400px);
    height: 100vh;
    overflow-y: scroll;
}

.admin-container{
    display: flex;
    width: calc(100vw - 100px);
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #CAC4D0;
}
.title h1{
    font-size: 36px;
}

.admin-content{
    margin: 25px;
}

.tabs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tab{
    height: 50px;
    border: none;
    background-color:transparent;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #CAC4D0;
}

.active{
    background-color: rgba(59,130,246,0.10);
    border-bottom: 2px solid rgb(59,130,246);
    font-weight: bold;
}
