.home{
    display: flex;
    height: 100vh;
}

.home-container{
    width: calc(100vw - 100px);
    display: flex;
}

.title{
    font-size: 50px;
}

.home-feed{
    width: calc(100vw - 400px);
    height: 100vh;
    overflow-y: scroll;
    padding: 50px 70px;
}
