.olvidepassword-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.olvidepassword-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
    margin-top: 50px;
}

.olvidepassword-form input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.olvidepassword-form input:last-child{
    background-color: #3B82F6;
    color: white;
    font-weight: bold;
    cursor: pointer;
}